///////////////////////// VARIABLES /////////////////////////

$primary-white: #fff;


.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

///////////////////////// LANDING PAGE /////////////////////////

.landing-page {
  height: 100vh;
  background: linear-gradient(-45deg, #000, rgba(255,255,255,.01)), url('./pics/man.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: $primary-white;
  font-size: 8rem;

  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;

  h1 {
    font-size: 30rem;
    margin: 0;
  }
}
