///////////////////////// VARIABLES /////////////////////////

$primary-white: #fff;
$light-grey: #E5E5E5;
$dark-grey: #727272;


.App {
  text-align: center;
  background: linear-gradient(-45deg, #fff, rgba(255,255,255,0)), url('./pics/sherpa.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  color: #fff;
  color: #F6F8FA;
  // color: $dark-grey;
  // color: #DDDFE1;
  // text-shadow: .25rem .25rem 0rem #000;
  // letter-spacing: .2rem;
  // -webkit-animation:colorchange 15s infinite alternate;
}

h2 {
    // font: 2.5rem sans-serif;
    // font-weight: bold;
    // color: #fff;
    // letter-spacing: .5rem;
    text-align: center;
    // text-transform: uppercase;
    // text-shadow: 0 .25rem .25rem #000;
    // text-shadow: purple;
    margin: 0 0 2rem 0;


}

@-webkit-keyframes colorchange {
  0% {

    color: #EE7752;
  }

  25% {

    color: #E73C7E;
  }

  50% {

    color: #23A6D5;
  }

  75% {

    color: #23D5AB;
  }

  100% {

    color: #EE7752;
  }
}

h2.header {
    position: relative;
    z-index: 1;

    &:before {
        border-top: 2px solid #dfdfdf;
        content:"";
        margin: 0 auto; /* this centers the line to the full width specified */
        position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 95%;
        z-index: -1;
    }

    span {
        /* to hide the lines from behind the text, you have to set the background color the same as the container */
        background: $primary-white;
        padding: 0 15px;
    }
}

.navbar-home {
  position: fixed;
  top: 40%;
  z-index: 99;
}

.navbar {
  position: fixed;
  // color: $primary-white;
  // padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5vh;
  z-index: 99;
  width: 100vw;
  box-shadow: 0 0 1rem .01rem #707070;
  // width: 100%;
  // margin: 0 3rem;
  // padding: 0 2rem;;

  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;



font-weight: bold;
font-size: 2rem;
color: $primary-white;
// color: #000;

  a {
    padding: 1rem;
    text-decoration: none;
    margin-left: 3rem;
    color: $primary-white;
    // color: #000;
  }
}

///////////////////////// LANDING PAGE /////////////////////////

.landing-page {
  height: 100vh;
  color: #fff;
  // background: linear-gradient(-45deg, #fff, rgba(255,255,255,.5)), url('./pics/ayy.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  background: linear-gradient(-45deg, rgba(238, 119, 82, .5), rgba(231, 60, 126, .5), rgba(35, 166, 213, .5), rgba(35, 213, 171, .5));
background-size: 400% 400%;
-webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15s ease infinite;

// -webkit-clip-path: polygon(0 40%, 100% 20%, 100% 60%, 0 80%);
// clip-path: polygon(0 40%, 100% 20%, 100% 60%, 0 80%);



  // color: #000;
  font-size: 2rem;
  // padding: 0 0 15rem 0;

  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 6rem;
    // text-shadow: purple;
    margin: 0;
    text-shadow: .1rem .3rem .3rem #000;
  }
}

.landing-page-bar {
  background: rgba(255,255,255, .25);
  background: $light-grey;
  background: rgba(229, 229, 229, .8);
  background: #F6F8FA;
  // background: rgba(246, 248, 250, .5);
  // background: $primary-white;
  box-shadow: 0 0rem .5rem .01rem $dark-grey;
  position: fixed;
  top:0;
  height: 8rem;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  z-index: 999000;

  .login {
    display: flex;
    // font-size: 5rem;
    align-items: center;
    justify-content: center;
    // background: skyblue;
    // width: 50vw;

    input {
      font-size: 1.5rem;
      height: 2.5rem;
      width: 20rem;
      margin: 1rem;
      border-radius: .25rem;

    }

    button {
      font-size: 1.5rem;
      height: 3rem;
      width: 7.5rem;
      margin: 1rem;
      border-radius: .5rem;
    }
  }
}

.signup {
  border-radius: .5rem;
  color: $dark-grey;
  box-shadow: 0 .3rem 1rem .01rem #fff;
  // box-shadow: 0 0 .5rem .01rem $dark-grey;
  // background: rgba(255,255,255, .25);
  background: $light-grey;
  // background: rgba(229, 229, 229, .8);
  // background: rgba(246, 248, 250, .9);
  // background: #F6F8FA;
  background: #F6F8FA;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 35rem;
  font-size: 1.75rem;
  // font-weight: bold;

  .tagline {
    font-size: 2rem;
  }

  .agreement {
    text-align: center;
    font-size: 1.5rem;
    // font-weight: 400;
  }

  input {
    height: 2.5rem;
    margin: .5rem 0;
    border-radius: .25rem;
  }

  button {
    height: 3rem;
    font-size: 1.75rem;
  }
}

.sitemap {
  // box-shadow: 0 0 1rem .01rem $dark-grey;
  box-shadow: 0 0 .5rem .01rem #fff;
  color: $dark-grey;
  // background: rgba(255,255,255, .25);
  // background: $light-grey;
  // background: rgba(229, 229, 229, .8);
  background: rgba(246, 248, 250, .7);
  position: fixed;
  bottom: 0;
  height: 15rem;
  width: 100vw;
}

.image-one {
  position: fixed;
  z-index: 999;
  // background: linear-gradient(-45deg, #fff, rgba(255,255,255,.5)), url('./pics/ayy.jpeg');
}

.tagline {
  // color: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}

///////////////////////// MAIN PAGE /////////////////////////

.main-page {
  padding: 7.5vh;
  height: 100vh;
  background: $primary-white;
  display: flex;
  justify-content: center;
}

.check {
  position: absolute;
  max-height: 25%;
  max-width: 25%;
  bottom: 0;
  right: 0;
}

.clicked {
  opacity: 1;
}

#clicked img {
  opacity: .5;
}

.unclicked {
  opacity: 1;
}

#hi {
  // opacity: 1;
}

.tile {
  position: relative;
  box-shadow: 0rem .1rem .5rem .01rem #7f7f7f;
  border-radius: .5rem;
  height: 17rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  h3 {
    position: absolute;
    top: 0;
    margin: 0;
    font-size: 1.1rem;
  }

  img {
    max-height: 80%;
    max-width: 80%;
    // display: flex;
  }
}

.clothing-section {
  // overflow-y: visible;
  overflow-y: scroll;
  margin: 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  // overflow-y: scroll;
  // justify-content: flex-start;
  // align-items: flex-end;
}

.tile:hover {
  opacity: .5;
}

// .clicked {
//   opacity: 1;
// }

.unclicked {
  opacity: 0;
}

// .tile:hover .clicked {
//   opacity: 1;
// }



@-webkit-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

@keyframes Gradient {
0% {
  background-position: 0% 50%
}
50% {
  background-position: 100% 50%
}
100% {
  background-position: 0% 50%
}
}

///////////////////////// DESIGN PORTAL /////////////////////////

.design-portal {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.dropdown {
  width: 75%;
  font-size: 1.5rem;
  height: 3rem;
  text-align: center;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem .1rem .5rem .01rem #7f7f7f;
  height: 75vh;
  width: 35vh;
  margin: 2rem;
  // padding: 2rem;

  img {
    margin: 2rem;
    max-width: 75%;
  }
}

.current {
  // background: violet;
  border-radius: .5rem;
  box-shadow: 0rem .1rem .5rem .01rem #7f7f7f;
  height: 75vh;
  width: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;

  img {
    max-height: 80%;
    max-width: 80%;
  }
}

.picker-container {
  display: flex;
  flex-direction: column;
}

.clothing-picker {
  display: flex;
  border-radius: .5rem;
  height: 13vh;
  width: 13vh;
  margin: 1rem 2rem;
  box-shadow: 0rem .1rem .5rem .01rem #7f7f7f;
  align-items: center;
  justify-content: center;

  img {
    // position: relative;
    max-height: 90%;
    max-width: 90%;
  }
  // align-items: center;

  // position: fixed;
  // top:50%;
  // left: 50%;
}

///////////////////////// PROFILE /////////////////////////

.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;

  .personal {

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .personal-desc {
      background: violet;
      width: 50vw;
    }

    img {
      max-height: 25rem;
      border-radius: 50%;
    }
  }
}
